<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="index.css">
<script src="index.js"></script>
</head>
<body>

 <button class="tablink" onclick="openPage('Home', this, 'black')" id="defaultOpen">Home</button>
 <button class="tablink" onclick="openPage('Portfolio', this, 'black')">Portfolio</button>
 <button class="tablink" onclick="openPage('AboutMe', this, 'black')">About Me</button>


 <div id="Home" class="tabcontent">
  <h1>This is Alan Coronado's Home Page!!!</h1>
  <h2>This is my home away from home:</h2>
  <img src="images/Soccerfield.jpg" alt="Soccer Field" class="center">
 </div>

 <div id="Portfolio" class="tabcontent">
  <h1>Below you can see some of my Assigments:</h1>
  
 
 </div>

 <div id="AboutMe" class="tabcontent">
  <h1>Here is a little background information about myself: </h1>
  <img  src="images/map.gdl.jpg" alt="Guadalajara" class="center">
  <p>"This is where I am from"</p>

 </div>


   
</body>
</html> 
